.section {
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  line-height: 1.35;
  margin: 0 auto;
  max-width: 1100px;
}

.section h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section__articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.section__articles a:nth-child(1) {
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  border-right: 0;
  display: grid;
  grid-column: 1/4;
  grid-template-columns: 1fr 2fr;
  margin: 0;
  padding-bottom: 1rem;
}

.section__articles a:nth-child(1) h2 {
  font-size: 1.7rem;
}

.section__articles a:nth-child(1) p {
  line-height: 1.4;
}

.section__articles a:nth-child(3n + 1) {
  border-right: 0;
}

.section__articles a {
  border-right: 1px solid var(--border-color);
  color: var(--text-color);

  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  justify-content: start;
  letter-spacing: -0.5px;
  margin-top: 1rem;
  min-height: 22rem;
  padding: 0 1rem 1rem 1rem;
  text-decoration: none;
}

.section__articles a:hover h2 {
  text-decoration: underline;
  transition: text-decoration 0.15s ease-in-out;
}

.section__articles h2 {
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.section__articles a picture {
  border-radius: 0.3rem;
  overflow: hidden;
}

.section__articles a img {
  aspect-ratio: 16/10;
  border-radius: 0.3rem;
  display: block;
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.section__articles a:hover img {
  transform: scale(1.1);
  transition: transform 0.15s ease-in-out;
}

.item__date {
  display: block;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

@media (max-width: 900px) {
  .section__articles a:nth-child(1) {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .section__articles {
    display: block;
  }

  .section h1 {
    text-align: center;
  }

  .section__articles a:first-child {
    border: none;
    border-bottom: 1px solid var(--border-color);
    display: block;
    grid-template-columns: 1fr 1fr;
  }

  .section__articles a {
    border: none;
    border-bottom: 1px solid var(--border-color);
    display: block;
    overflow: hidden;
  }

  .section__articles img {
    aspect-ratio: 0;
  }

  .item__date {
    margin-bottom: 1rem;
  }

  .section__articles a:hover img {
    transform: none;
  }
}

@media (prefers-color-scheme: dark) {
  .section__articles a {
    color: var(--text-color);
  }
}
